/*
    colors:
    draker 
        191B2E
        2D465F
        5E939E
        A4DBC9
        F2EEE9
    lighter
*/

html {
    width: 100vw;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    overflow-x: hidden;
}

#header {
    height: 25%;
    background-image: url("./img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-bottom: #5E939E solid 2px;

    color: #F2EEE9;
}

#menu {
    border-bottom: #5E939E solid 2px;
}

.nav > a {
    color: #5E939E;
    font-weight: bold;
}

.nav > a:hover {
    color: #191B2E;
}

#body {
    min-height: 65%;
}

#footer {
    height: auto;
    min-height: 5vh;
    border-top: #5E939E  solid 2px;
    padding: 1rem;
    margin-top: 1rem;
}

#logo {
    min-width: 40px;
    min-height: 40px;

    background-image: url("./img/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    margin: 1rem;
}

div[class*="col-"] {
    text-align: center;
}

.align-items-center {
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.space-around {
    justify-content: space-around;
}

.flex-wrap {
    flex-wrap: wrap;
}

.shadow {
    font-weight: bold;
    text-shadow: 2px 2px 8px #191B2E;
}

.empty {
    content: ' ';
    height: 1rem;
    width: 1rem;
}

a{
    text-decoration: none;
}

.btn-outline-perso {
    color: #191B2E;
    border-color: #191B2E;
}

.btn-outline-perso:hover {
    color: #fff;
    background-color: #191B2E;
}

.btn-outline-perso:active {
    color: #fff;
    background-color: #191B2E;
    border-color: #191B2E;
}

p {
    text-align: justify;
}